
$menu-header-font-weight: 400;
$menu-item-hover-color: #fff;
$menu-list-padding: 0 0 0 2em;
$menu-header-padding: 14px 0 15px;
$menu-item-padding: 14px 0 15px;
$menu-item-color: #505b67;
$menu-header-color: $menu-item-color;
$menu-header-hover-color: $menu-item-hover-color;
$menu-collapse-icon-active-transform: rotate(180deg) !default;

$dropdown-menu-min-width: 150px;

$sidebar-width: 224px;
$grid-gutter: 16px;

$form-control-focus-border-color: #fff;

$modal-header-border-bottom: none;
$modal-header-background: #fff;

$gray: #B6BABF;
$primary: #3D83FF;

$media-left-margin-right: 12px;

$tag-border-radius: 100px;
$tag-font-size: 12px;

$tooltip-width: 240px;